{% extends "article.html" %}


{% block title %}3D Modeling{% endblock %}
{% block name  %}3D Modeling{% endblock %}


{% block article -%}
		<section>
			<div class='col'>
				I am by no means an artist, but <a href='http://www.blender.org/'>Blender</a> remains the closest thing I have to a sketchpad. My model library has everything from woodworking ideas, to sci-fi starships. Here are a few.
			</div>
			<div class='col'>
				
			</div>
		</section>
		<section>
			{{ make_image("/static/play/atlantis.jpg", "/static/play/atlantis.jpg") }}
		</section>
		<section>
			{{ make_image("/static/play/accelerator.jpg", "/static/play/accelerator.jpg") }}
		</section>
		<section>
			{{ make_image("/static/play/organ_angle.png", "/static/play/organ_angle.png") }}
		</section>
		<section>
			{{ make_image("/static/play/organ_open_closed.png", "/static/play/organ_open_closed.png") }}
		</section>
		<!--
		<section>
			{{ make_image("/static/play/tank.jpg", "/static/play/tank.jpg") }}
		</section>
		<section>
			{{ make_image("/static/play/techtunnel.jpg", "/static/play/techtunnel.jpg") }}
		</section>
		-->
{% endblock %}
