{% extends "article.html" %}


{% block title %}Glass Torch Work{% endblock %}
{% block name  %}Glass Torch Work{% endblock %}


{% block article -%}
		<section>
			{{ make_image("/static/play/glass.png", "/static/play/glass.png") }}
		</section>
		<section>
			<div class='col'>
				I am currently employed as a glass worker for <a href='http://robinlehmanglass.com/'>Robin Lehman Glass</a>. I spend most of my time at the torch creating the interior elements for our lampworked paperweights. Things such as the coral background and the blue starfish are all made by hand.
			</div>
			<div class='col'>
				
			</div>
		</section>
{% endblock %}
