{% extends "article.html" %}


{% block title %}Guitar{% endblock %}
{% block name  %}Guitar{% endblock %}


{% block article -%}
		<section>
			{{ make_image("/static/play/guitar.png", "/static/play/guitar.png") }}
		</section>
		<section>
			<div class='col'>
				I am currently working on my own electric guitar. Having been a guitar player for quite some time, I finally decided to combine my interests in guitar and woodworking. Styled after a Parker Fly, the body is made from alder, and carries Dimarzio pickups. While this project is far from finished, I am very excited about it, and am eagerly awaiting some off-time so I can complete it.
			</div>
			<div class='col'>
				
			</div>
		</section>
{% endblock %}
