{% extends "article.html" %}


{% block title %}Lighting{% endblock %}
{% block name  %}Lighting{% endblock %}


{% block article -%}
		<section>
			{{ make_image("/static/play/lighting.png", "/static/play/lighting.png") }}
		</section>
		<section>
			<div class='col'>
				For many years, I've worked as a lighting tech on a variety of productions. Most of my time is spent programming or debugging computerized fixtures, but I also help rig, service and design lights for theater and parties.
			</div>
			<div class='col'>
				
			</div>
		</section>
{% endblock %}
