
.name
{
	color:black;
	font-size: 16pt;
}


.links
{
	color:black;
	position: absolute;
	top:-1px;
	right:0px;
}

.links a
{
	color:inherit; /* override default link color */
	border-top:1px solid transparent;
	display: inline-block;
	padding-top: 0.9em;
	padding-bottom: 1em;
	text-decoration: none;
}

.links a:hover
{
	border-top-color:rgb(200,0,0);
	color:rgb(200,0,0);
}

section
{
	overflow: hidden;
	margin-bottom: 2.4em;
}

a.img
{
	display:block;
	width:100%;
	max-height:150px;
}

article img
{
	width:100%;
}

section > .col
{
	float:left;
	width:50%;
}

section > .col:first-child { padding-right: 1.2em; }
section > .col:last-child  { padding-left:  1.2em; }

section > .col > *            { margin-bottom: 1.2em; }
section > .col > *:last-child { margin-bottom: 0px;   }

article ul
{
	list-style-type: disc;
	list-style-position: inside;
}

article section a
{

}
