
body
{
	padding-right: 0px;
}

article header
{
	margin-top:300px;
	padding:50px 0px;
	background-color: black;
	color:white;
	border:none;
	z-index: 1;
}

canvas
{
	position: absolute;
	top:0px;
}

@media only screen and (max-width: 550px) {

	article
	{
		display:none;
	}

	/* turn the navs back on (overrides queries.css) */
	aside nav
	{
		display:block !important;
	}

	aside nav span
	{
		float:right;
	}

	aside
	{
		position: static;
		float:none;
		width:auto;
		margin-right: 0px;
	}
}
