
nav
{
	position: relative;
	border-top: 1px solid #CCC;
	margin-bottom: 2.4em;
}

nav *
{
	line-height: 1.6em;
}

nav a
{
	color:inherit; /* override the default link color */
	display:block;
	text-decoration: none;
	position: relative;
}

nav a:last-child
{
	border-bottom: none;
}

nav a.current,
nav a:hover
{
	color: rgb(200,0,0);
	text-decoration: underline;
}

nav span
{
	color:black;
	float:left;
}
