
nav
{
	position: relative;
	border-top: 1px solid #CCC;
	margin-bottom: 2.4em;
}

nav a
{
	display:block;
	line-height: 1.6em;
	color:#888;
	text-decoration: none;
	position: relative;
}

nav a:last-child
{
	border-bottom: none;
}

nav a.current,
nav a:hover
{
	color: rgb(200,0,0);
	text-decoration: underline;
}

nav span
{
	text-align: left;
	float:left;
}
