

/****************************** Media Querys ********************************/

/* shrink whitespace */
@media only screen and (max-width: 900px) {
	aside
	{
		margin-right:40px;
	}
}

/* turn columns into rows */
@media only screen and (max-width: 800px) {
	section > .col
	{
		float:none;
		width:100%;
		padding:0px !important;
		margin:0px 0px 1.2em 0px;
	}

}

/* switch to mobile layout */
/* hide all navs, but keep the name logo */
@media only screen and (max-width: 550px) {
	aside
	{
		position: absolute;
		z-index: 1;
		text-align: left;
	}

	/* this is overriden on the home page */
	aside nav
	{
		display:none;
	}
}


/* put languages on new line */
@media only screen and (max-width: 350px) {
	article header
	{
		overflow: hidden;
		margin-bottom: 1.2em;
	}

	.name, .lang
	{
		float:left;
		clear:left;
		margin-bottom: 6px;
	}
}
