body
{
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
}

.container {
	float:left;
	position:relative;
	left:50%;
}
.center {
	float:left;
	position:relative;
	left:-50%;
}
.outerwrap {
	position:relative;
	overflow:hidden;
}

#canvas
{
	font-family: "Courier New", Courier, monospace;
	font-size: 9pt;
}

.draw
{
	cursor:crosshair;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}

#canvasWrapper
{
	border:1px solid black;
}