
<!doctype html>
<!-- Written and Designed by Brendan Whitfield -->
<html>
	<head>
		<!-- META -->
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Brendan Whitfield">
		<meta name="description" content="Software Portfolio for Brendan Whitfield">
		<meta name="keywords" content="portfolio, developer, programmer, programming, java, processing, python, actionscript, HTML, javascript, jquery, CSS, creative, interactive">

		<title>Brendan Whitfield - {% block title %}Programmer &amp; Interactive Developer{% endblock %}</title>
		<link rel='shortcut icon' type='image/png' href='/static/favicon.png'>

		<!-- CSS -->
		<link rel='stylesheet' type='text/css' href='/static/css/reset.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/style.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/queries.css'>

		<!--[if lt IE 9]>
			<script src="/static/js/html5shiv.js"></script>
		<![endif]-->

		<!-- page specific head content -->
		{% block head %}{% endblock %}
	</head>
	<body onunload=''>

		<aside>
			<header>
				<a href='/'>
					<h1>BRENDAN</h1>
					<h1>WHITFIELD</h1>
				</a>
			</header>
			<nav class='dim'>
				<span>Work</span>
				<a href='/work/collector'  >Collector</a>
				<a href='/work/python-obd' >Python OBD-II</a>
				<a href='/work/pihud'      >PiHUD</a>
				<a href='/work/cgraph'     >C-Graph</a>
				<a href='/work/executejs'  >Execute JS</a>
				<a href='/work/lumber'     >Lumber Segmenter</a>
				<a href='/work/remote'     >Universal Remote</a>
				<a href='/work/scope'      >OpenScope</a>
				<div>
					<a href='/work/optics'    >Interactive Optics</a>
					<a href='/work/planetary' >Planetary</a>
					<a href='/work/synth'     >Web Synthesizer</a>
					<a href='/work/15puzzle'  >15-Puzzle Solver</a>
					<a href='/work/3d'        >3D Graphics Engine</a>
					<a href='/work/asteroids' >Gravitational Asteroids</a>
					<a href='/work/ascii'     >Ascii Art Painter</a>
				</div>
				<a class='more' onClick="more(event);">More ▼</a>
			</nav>
			<nav class='dim'>
				<span>Play</span>
				<a href='/play/binvis'     >Binary Visualization</a>
				<a href='/play/pipe-organ' >Pipe Organs</a>
				<a href='/play/lasers'     >Lasers</a>
				<a href='/play/guitar'     >Guitar</a>
				<a href='/play/glass'      >Glass</a>
				<div>
					<a href='/play/lighting' >Lighting</a>
					<a href='/play/3d'       >3D Modeling</a>
					<a href='/play/vision'   >Computer Vision</a>
				</div>
				<a class='more' onClick="more(event);">More ▼</a>
			</nav>
			<nav class='dim'>
				<span>About</span>
				<a href='mailto:bcw7044@rit.edu'>bcw7044@rit.edu</a>
				<a href='/static/BrendanWhitfieldResume.pdf'>R&eacute;sum&eacute;</a>
				<a href='https://github.com/brendanwhitfield'>GitHub</a>
				<a href='http://www.linkedin.com/pub/brendan-whitfield/89/7aa/3b8'>LinkedIn</a>
			</nav>
		</aside>

		{% block content %}{% endblock %}

		<footer>&copy; <span class="year">2014</span> Brendan Whitfield</footer>

		<!-- JS -->
		<script type="text/javascript">
			// GA
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-47261656-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		
		<script type="text/javascript">
			//set the (C) date
			var copy_date = document.querySelector("footer .year");
			if(copy_date)
			{
				var year = (new Date()).getFullYear();
				copy_date.innerHTML = year;
			}

			//mark the current page in the nav
			var nav_link = document.querySelector("nav a[href='" + window.location.pathname + "']");
			if(nav_link)
			{
				nav_link.classList.add("current");

				//if it's in a "more" menu, open it
				if(nav_link.parentNode.localName === "div")
					open_more(nav_link.parentNode.parentNode);
			}

			//more button handler
			function more(e)
			{
				var nav = e.target.parentNode;

				//toggle the <div>
				if(is_more_open(nav))
					close_more(nav);
				else
					open_more(nav);
			}

			function is_more_open(nav)
			{
				var div = nav.querySelector("div");
				return (div && (div.className !== ""))
			}

			function open_more(nav)
			{
				var button  = nav.querySelector(".more");
				var div = nav.querySelector("div");

				if(button && div)
				{
					button.innerHTML = "Less ▲"
					div.className = "open";
				}
			}

			function close_more(nav)
			{
				var button  = nav.querySelector(".more");
				var div = nav.querySelector("div");

				if(button && div)
				{
					button.innerHTML = "More ▼";
					div.className = "";
				}
			}
		</script>
	</body>
</html>
