

{% from 'nav.html' import make_nav %}

<!doctype html>
<!-- Written and Designed by Brendan Whitfield -->
<html>
	<head>
		<!-- META -->
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Brendan Whitfield">
		<meta name="description" content="Software Portfolio for Brendan Whitfield">
		<meta name="keywords" content="portfolio, developer, programmer, programming, java, processing, python, actionscript, HTML, javascript, jquery, CSS, creative, interactive">

		<title>Brendan Whitfield - {% block title %}Programmer &amp; Interactive Developer{% endblock %}</title>
		<link rel='shortcut icon' type='image/png' href='/static/favicon.png'>

		<!-- CSS -->
		<link rel='stylesheet' type='text/css' href='/static/css/reset.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/style.css'>
		<noscript>
			<link rel='stylesheet' type='text/css' href='/static/css/noscript.css'>
		</noscript>

		<!-- JS -->
		<script type="text/javascript" src='/static/js/jquery-1.11.0.min.js'></script>
		<script type="text/javascript" src='/static/js/settings.js'></script>
		<!--<script type="text/javascript" src='/static/js/main.js'></script>--> <!-- init() -->

		<!--[if lt IE 9]>
			<script src="/static/js/html5shiv.js"></script>
			<link rel='stylesheet' type='text/css' href='/static/css/ie.css'>
		<![endif]-->
	</head>
	<body onunload=''>

		<aside>
			<header>
				<a href='/'>
					<h1>BRENDAN</h1>
					<h1 class='r'>WHITFIELD</h1>
				</a>
			</header>
			<nav>
				<span>Work</span>
				{{ make_nav(projects, project) }}
			</nav>
			<nav>
				<span>About</span>
				<a href='mailto:bcw7044@rit.edu'>bcw7044@rit.edu</a>
				<a href='/static/BrendanWhitfieldResume.pdf'>R&eacute;sum&eacute;</a>
				<a href='https://github.com/brendanwhitfield'>GitHub</a>
				<a href='http://www.linkedin.com/pub/brendan-whitfield/89/7aa/3b8'>LinkedIn</a>
			</nav>
		</aside>

		{% block article %}{% endblock %}

		<footer>&copy; <span class="year">2014</span> Brendan Whitfield</footer>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-47261656-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
