{% extends "base.html" %}

{% block body %}
		<section class='control'>
			<header>
				<a href='/'><h1>BRENDAN&nbsp;WHITFIELD</h1></a>
			</header>
			<nav>
				<span>About</span>
				<a href='work/exejs/'>Bio</a>
				<a href='mailto:bcw7044@rit.edu'>Email</a>
				<a href='/static/BrendanWhitfieldResume.pdf'>R&eacute;sum&eacute;</a>
				<a href='https://github.com/brendanwhitfield'>GitHub</a>
				<a href='http://www.linkedin.com/pub/brendan-whitfield/89/7aa/3b8'>LinkedIn</a>
			</nav>
			<nav>
				<span>Work</span>
				<a                 href='work/exejs/'     >Python-OBD</a>
				<a                 href='work/exejs/'     >C-Graph</a>
				<a class='current' href='work/exejs/'     >Execute JS</a>
				<a                 href='work/lumber/'    >Lumber Segmenter</a>
				<a                 href='work/remote/'    >Universal Remote</a>
				<a                 href='work/scope/'     >OpenScope</a>
				<a                 href='work/3d/'        >3D Engine</a>
				<a                 href='work/planetary/' >Planetary</a>
				<a                 href='work/synth/'     >Web Synthesizer</a>
				<a                 href='work/15puzzle/'  >15-Puzzle Solver</a>
				<a                 href='work/asteroids/' >Gravitational Asteroids</a>
				<a                 href='work/optics/'    >Interactive Optics</a>
				<a                 href='work/ascii/'     >Ascii Art Painter</a>
				<a                 href='work/drone/'     >Drone Game</a>
				<a                 href='work/laser/'     >Laser Controller</a>
			</nav>
		</section>

		<section class='content'>
			<header></header>
			<article id='banner'>
				<span class='name'>Execute JS</span>
				<span class='lang'> = Javascript + UglifyJS2</span>
				<a class='button code' ref=''>Code</a>
				<a class='button run'  ref=''>Run</a>
			</article>
			<article>
				<section>
					<a class='img' style='background-image: url("/static/scope.png");'></a>
					<p>This is a tool for visualizing Javascript as it executes in a web browser. After supplying the script, the user can watch the computer execute each line of code. As it runs, a heatmap is built which displays the total number of times a each line was executed. One-off commands can also be issued, allowing for experimentation with larger libraries.</p>
					<p>The execution detection is done by injecting callbacks before (or in) every javascript statement. This is done with UglifyJS2, which creates a syntax tree from the users Javascript. This tree is then modified by adding new nodes which define the various callbacks, and is recompiled to Javascript text.</p>
				</section>
				<section>
				</section>
			</article>
		</section>
{% endblock %}
