{% extends "base.html" %}

{% block body %}
		<section class='control'>
			<header>
				<a href='/'><h1>BRENDAN&nbsp;WHITFIELD</h1></a>
			</header>
			<nav>
				<span>About</span>
				<a href='work/exejs/'>Bio</a>
				<a href='mailto:bcw7044@rit.edu'>Email</a>
				<a href='/static/BrendanWhitfieldResume.pdf'>R&eacute;sum&eacute;</a>
				<a href='https://github.com/brendanwhitfield'>GitHub</a>
				<a href='http://www.linkedin.com/pub/brendan-whitfield/89/7aa/3b8'>LinkedIn</a>
			</nav>
			<nav>
				<span>Work</span>
				<a                 href='work/exejs/'     >Python-OBD</a>
				<a                 href='work/exejs/'     >C-Graph</a>
				<a class='current' href='work/exejs/'     >Execute JS</a>
				<a                 href='work/lumber/'    >Lumber Segmenter</a>
				<a                 href='work/remote/'    >Universal Remote</a>
				<a                 href='work/scope/'     >OpenScope</a>
				<a                 href='work/3d/'        >3D Engine</a>
				<a                 href='work/planetary/' >Planetary</a>
				<a                 href='work/synth/'     >Web Synthesizer</a>
				<a                 href='work/15puzzle/'  >15-Puzzle Solver</a>
				<a                 href='work/asteroids/' >Gravitational Asteroids</a>
				<a                 href='work/optics/'    >Interactive Optics</a>
				<a                 href='work/ascii/'     >Ascii Art Painter</a>
				<a                 href='work/drone/'     >Drone Game</a>
				<a                 href='work/laser/'     >Laser Controller</a>
			</nav>
		</section>

		<section class='content'>
			<header></header>
			<article class='header'>
				<span class='name'>Execute JS</span>
				<span class='lang'>Javascript + UglifyJS2</span>
			</article>
			<article>
				<section>			
					<div id='links'>
						<a class='run'>Run</a>
						<a class='code'>Code</a>
						<div></div>
					</div>
					<p>This is a web-based multi-track synthesizer. Using the classic grid style sequencer, the user is able to layer multiple melodies, each with settings for key, octave, scale, and wave type. A &lt;canvas&gt; in each track also displays the individual waveforms. </p>
					<p>Under the hood, this site makes heavy use of the Web Audio API. A signal chain composed of oscillators, gain nodes, and waveshaper nodes is used to create the audio. A master timer in the Main.js file advances the current beat on each track, and each track enables and disables the oscillators corresponding to the notes on the sequencer. In order to be polyphonic, each row of the sequencer (each pitch) has its own dedicated oscillator. When the user changes the key or the scale, all of the oscillators are set to new frequencies according to built in music theory functionality. </p>
				</section>
				<section>
					<img src='/static/scope.png'/>
				</section>
			</article>
		</section>
{% endblock %}
