{% extends "base.html" %}

{% set project_data = projects[project] %}

{% block title %}{{ project_data.title }}{% endblock %}

{% block article -%}
		<article>
			<header>
				<span class='name'>{{ project_data.title }}</span>
				<span class='lang'> = 
					{%- for lang in project_data.langs -%}
						{% if loop.index > 1 %}
						+
						{%- endif %}
						{{ lang }}
					{%- endfor %}
				</span>
				<span class='links'>
					{%- for link in project_data.links -%}
						{% if loop.index > 1 %}
						&bull;
						{%- endif %}
						<a href='{{ link["url"] }}'>{{ link["name"] }}</a>
					{%- endfor %}
				</span>
			</header>

			{% for content in project_data.content -%}
				{% if content is image_url -%}
					<section>
						<a class='img' href='{{ content }}' style='background-image: url("{{ content }}");'></a>
					</section>
				{% else %}
					<section>
						{{ content | safe }}
					</section>
				{%- endif %}
			{%- endfor %}
		</article>
{% endblock %}
