{% extends "base.html" %}

{% set project_data = projects[project] %}

{% block title %}{{ project_data.title }}{% endblock %}

{% block article -%}
		<article>
			<header>
				<span class='name'>{{ project_data.title }}</span>
				<span class='lang'> = 
					{%- for lang in project_data.langs -%}
						{% if loop.index > 1 %}
						+
						{%- endif %}
						{{ lang }}
					{%- endfor %}
				</span>
				<span class='links'>
					{%- for link in project_data.links -%}
						{% if loop.index > 1 %}
						&bull;
						{%- endif %}
						<a href='{{ link["url"] }}'>{{ link["name"] }}</a>
					{%- endfor %}
				</span>
			</header>


			{% set col_count = 0 %}
			{% for content in project_data.content -%}

				{% if content is image_url -%}
					{% if col_count > 0 %}
						{% set col_count = col_count + 1 %}
						<div class='col'>
							<a class='img' href='{{ content }}' style='background-image: url("{{ content }}");'></a>
						</div>
					{% else %}
						<section>
							<a class='img' href='{{ content }}' style='background-image: url("{{ content }}");'></a>
						</section>
					{% endif %}
				{% else %}
					{% if col_count == 0 %}
						<section>
					{% endif %}

					{% set col_count = col_count + 1 %}
					<div class='col'>
						{{ content | safe }}
					</div>
				{%- endif %}

				{% if col_count == 2 %}
					{% set col_count = 0 %}
					</section>
				{% endif %}

			{%- endfor %}

		</article>
{% endblock %}
