{% extends "article.html" %}


{% block title %}3D Graphics Engine{% endblock %}
{% block name  %}3D Graphics Engine{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'Actionscript 3'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Code', 'https://github.com/brendanwhitfield/as3_3d-graphics')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/3d.png", "/static/work/3d.png") }}
		</section>
		<section>
			<div class='col'>
				<p>
					Built and derived from scratch, this project uses a 2D turtle graphics system to render 3D objects. A system of classes representing 3D points, polygons and solids was created to represent the model. The original 2D Turtle class was extended with functions capable of drawing 3D objects. Upon startup, the document class procedurally generates a unique fracture pattern for the glass, and gives it to the turtle for rendering.
				</p>
			</div>
			<div class='col'>
				<p>
					On every frame of the animation, a rotation matrix is applied to slowly turn the model. The shading for each polygon is also recalculated to allow for a slight glint in the glass. This was done by computing the angle between each polygon's surface normal and the camera's forward vector. When drawing, the system also interpolates between vertices to allow for the slight curved lens distortion.
				</p>
			</div>
		</section>
{% endblock %}
