{% extends "article.html" %}


{% block title %}C-Graph{% endblock %}
{% block name  %}C-Graph{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'NodeJS',
		'D3',
		'Git'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Run',  'http://cgraph.herokuapp.com/'),
		('Code', 'http://github.com/brendanwhitfield/cgraph')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/cgraph_thumb.png", "/static/work/cgraph.png") }}
		</section>
		<section>
			<div class='col'>
				<p>
					C-Graph is a GitHub-integrated call graphing utility for C. Simply provide the url for a Git repository, and C-Graph will search for C files, and construct a graph. The graph itself represents the code at both the file and function level. Files can be expanded into sets of functions, with arrows depicting the calls from one function to the next. Selecting a function or file will also display its raw C code.
				</p>
			</div>
			<div class='col'>
				<p>
					Curiously, C-Graph uses a custom C parser to construct its graphs. Many pre-existing graphing utilities were rejected because they failed to deliver some piece of data or functionality. In particular, the ability to parse a project without its dependant libraries was a common failing point. Instead of doing a full syntax parse (which includes dependant headers), this system only searches for calls and definitions. Once located, they can be linked by name and location. The C language was chosen specifically for its ease and simplicity in linking.
				</p>
			</div>
		</section>
{% endblock %}
