{% extends "article.html" %}


{% block title %}Collector{% endblock %}
{% block name  %}Collector{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'SDL2',
		'C++'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Code', 'https://github.com/brendanwhitfield/collector')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/collector_thumb.png", "/static/work/collector.png") }}
		</section>
		<section>
			<div class='col'>
				<p>
					Collector is a tag-based file manager for linux. It presents files in a flat data structure where the user can select files by tag names. 
				</p>
			</div>
			<div class='col'>
				<p>
					Collector stores tags in the file's name and path. This allows directory names to function as tags, making existing folder structures easier to work with. When tags are added or removed, Collector will either splice the tag in to or out of the filename, or move the file to a different spot in the directory tree. Not only does this help maintain an organized directory structure, but also prevents the need to synchronize a tag database with the filesystem.
				</p>
			</div>
		</section>
{% endblock %}
