{% extends "article.html" %}


{% block title %}Lumber Segmenter{% endblock %}
{% block name  %}Lumber Segmenter{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'Javascript',
		'jQuery'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Run',  'http://people.rit.edu/bcw7044/tools/lumber/'),
		('Code', 'https://github.com/brendanwhitfield/lumber_segmenter')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/lumber_thumb.png", "/static/work/lumber.png") }}
		</section>
		<section>
			<div class='col'>
				<p>
					This is a woodworking tool that finds cut patterns and keeps wasted lumber to a minimum. After accepting length and quantity data from the user, a cut pattern is generated, and the layout is displayed in friendly color-coded segments.
				</p>
			</div>
			<div class='col'>
				<p>
					The largest challenge, by far, was crafting the algorithms that solve for the layout. There are in fact three solvers available. One solver recursively searches for the layout with the least loss, while the remaining two use different, less brute force, techniques to find layouts. The recursive solver is garaunteed to return an optimal layout, however, it is not always practical due to its slow speeds with large inputs. At this point, the two other solvers may be used to generate sub-optimal solutions. For simplicity, this descision can be made automatically by placing the tool in &qout;auto&qout; mode.
				</p>
			</div>
		</section>
{% endblock %}
