{% extends "article.html" %}


{% block title %}PiHUD{% endblock %}
{% block name  %}PiHUD{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'Python',
		'PyQt',
		'Python-OBD'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Code',     'https://github.com/brendanwhitfield/pihud')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/pihud_thumb.png", "https://github.com/brendanwhitfield/pihud") }}
		</section>
		<section>
			<div class='col'>
				<p>
					This is a heads-up display for a car, built to run on a Raspberry Pi. It uses my <a href='/work/python-obd'>Python OBD-II serial module</a> to stream live data from the car. The software autodetects available sensors within the car, and provides a primitive interface for users to design their HUD. Widgets representing the various sensors can be added, deleted, positioned, and resized to the drivers liking.
				</p>
			</div>
			<div class='col'>
				<p>
				</p>
			</div>
		</section>
{% endblock %}
