{% extends "article.html" %}


{% block title %}Python OBD-II{% endblock %}
{% block name  %}Python OBD-II{% endblock %}

{%- block langs -%}
	{{ make_langs([
		'Python',
		'pyserial'
	]) }}
{%- endblock -%}

{%- block links -%}
	{{ make_links([
		('Download', 'https://pypi.python.org/pypi/obd/'),
		('Code',     'https://github.com/brendanwhitfield/python-OBD'),
		('Docs',     'https://github.com/brendanwhitfield/python-OBD/wiki')
	]) }}
{% endblock %}

{% block article -%}
		<section>
			{{ make_image("/static/work/python-obd.png", "https://github.com/brendanwhitfield/python-OBD") }}
		</section>
		<section>
			<div class='col'>
				<p>
					This python module serves as a back-end for projects using sensor data from a car's <a href='http://en.wikipedia.org/wiki/On-board_diagnostics'>OBD-II port</a>. It seemlessly handles the decoding of data from the car, and returns values with units to the programmer. Derived from the popular <a href='https://github.com/peterh/pyobd'>pyobd</a> project, this package attempts to do a better job of decoupling the serial operations from the UI code.
				</p>
				<p>
					Since the initial fork of pyobd, the code has been substantially overhauled. The library now makes better use of the Python stdlib, supports more commands, and presents a simple API for accessing the car's data. Commands (sensors) can now be accessed by name, or Parameter ID. Threaded callbacks can also be subscribed, allowing for asynchronous applications.
				</p>
			</div>
			<div class='col'>
				<p>
					Here are a few of the currently supported commands (for a full list, see the <a href='https://github.com/brendanwhitfield/python-OBD/wiki/Command-Tables'>GitHub Wiki</a>):
				</p>
				<ul>
					<li>Calculated Engine Load</li>
					<li>Engine Coolant Temperature</li>
					<li>Fuel Pressure</li>
					<li>Intake Manifold Pressure</li>
					<li>Engine RPM</li>
					<li>Vehicle Speed</li>
					<li>Timing Advance</li>
					<li>Intake Air Temp</li>
					<li>Air Flow Rate (MAF)</li>
					<li>Throttle Position</li>
					<li>Engine Run Time</li>
					<li>Fuel Level Input</li>
					<li>Number of warm-ups since codes cleared</li>
					<li>Barometric Pressure</li>
					<li>Ambient air temperature</li>
					<li>Commanded throttle actuator</li>
					<li>Time run with MIL on</li>
					<li>Time since trouble codes cleared</li>
					<li>Hybrid battery pack remaining life</li>
					<li>Engine fuel rate</li>
				</ul>
			</div>
		</section>
{% endblock %}
